<div class="comments-container">
  <app-comment-form (commentCreated)="onCommentCreated()"></app-comment-form>

  <div class="sort-header">
    <span>{{ i18n.t('totalComments') }}: {{ totalCount }}</span>
    <div class="sort-buttons">
      {{ i18n.t('sortByDate') }}:
      <button
        [class.active]="sortDescending"
        (click)="onSortDirection(true)"
      >
        {{ i18n.t('newestFirst') }}
      </button>
      <button
        [class.active]="!sortDescending"
        (click)="onSortDirection(false)"
      >
        {{ i18n.t('oldestFirst') }}
      </button>
    </div>
  </div>

  <div class="loading" *ngIf="isLoading">{{ i18n.t('loading') }}</div>

  <div class="comments-list" *ngIf="!isLoading">
    <div *ngIf="comments.length === 0" class="no-comments">
      {{ i18n.t('noComments') }}
    </div>

    <app-comment-item
      *ngFor="let comment of comments"
      [comment]="comment"
    ></app-comment-item>
  </div>

  <div class="pagination" *ngIf="totalPages > 1">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
      {{ i18n.t('previous') }}
    </button>

    <button
      *ngFor="let p of getPageNumbers()"
      [class.active]="p === currentPage"
      (click)="goToPage(p)"
    >
      {{ p }}
    </button>

    <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
      {{ i18n.t('next') }}
    </button>
  </div>
</div>