<div class="comment-form" [class.reply-form]="parentCommentId !== null">
  <h3 *ngIf="parentCommentId === null">{{ i18n.t('leaveComment') }}</h3>
  <h4 *ngIf="parentCommentId !== null">{{ i18n.t('reply') }}</h4>

  <div class="error-message" *ngIf="errors['general']">
    {{ errors['general'][0] }}
  </div>

  <div class="form-row" *ngIf="!auth.isLoggedIn()">
    <div class="form-group">
      <label>{{ i18n.t('userName') }} *</label>
      <input
      type="text"
      [(ngModel)]="userName"
      [placeholder]="i18n.t('userNamePlaceholder')"
      [class.invalid]="errors['userName']"
      autocomplete="off"
      />
      <span class="error" *ngIf="errors['userName']">{{ errors['userName'][0] }}</span>
    </div>
    <div class="form-group">
      <label>{{ i18n.t('email') }} *</label>
      <input
      type="email"
      [(ngModel)]="email"
      [placeholder]="i18n.t('emailPlaceholder')"
      [class.invalid]="errors['email']" autocomplete="off"
      />
      <span class="error" *ngIf="errors['email']">{{ errors['email'][0] }}</span>
    </div>
    <div class="form-group">
      <label>{{ i18n.t('homePage') }}</label>
      <input
      type="url"
      [(ngModel)]="homePage"
      [placeholder]="i18n.t('homePagePlaceholder')"
      [class.invalid]="errors['homePage']"
      autocomplete="off"
      />
      <span class="error" *ngIf="errors['homePage']">{{ errors['homePage'][0] }}</span>
    </div>
  </div>

  <div class="tag-buttons">
    <button type="button" (click)="insertTag('i')" title="Italic">{{ i18n.t('tagItalic') }}</button>
    <button type="button" (click)="insertTag('strong')" title="Bold">{{ i18n.t('tagBold') }}</button>
    <button type="button" (click)="insertTag('code')" title="Code">{{ i18n.t('tagCode') }}</button>
    <button type="button" (click)="insertTag('a')" title="Link">{{ i18n.t('tagLink') }}</button>
  </div>

  <div class="form-group">
    <label>{{ i18n.t('text') }} *</label>
    <textarea
      [id]="parentCommentId ? 'reply-text-' + parentCommentId : 'comment-text'"
      [(ngModel)]="text"
      rows="5"
      (ngModelChange)="onTextChange()"
      [placeholder]="i18n.t('textPlaceholder')"
      [class.invalid]="errors['text']"
      autocomplete="off"
    ></textarea>
    <span class="error" *ngIf="errors['text']">{{ errors['text'][0] }}</span>
  </div>

  <div class="preview-section">
    <button type="button" class="btn-preview" (click)="togglePreview()">
      {{ showPreview ? i18n.t('hidePreview') : i18n.t('preview') }}
    </button>
    <div class="preview-box" *ngIf="showPreview" [innerHTML]="previewHtml"></div>
  </div>

  <div class="form-group file-upload-group">
    <label>{{ i18n.t('attachFile') }}</label>
    <div class="file-upload-row">
      <label class="btn-file-select">
        {{ i18n.t('chooseFile') }}
        <input type="file" (change)="onFileSelected($event)" accept=".jpg,.jpeg,.png,.gif,.txt" #fileInput hidden/>
      </label>
      <span class="file-name" *ngIf="selectedFile">{{ selectedFile.name }}</span>
      <button type="button" class="btn-remove-file" *ngIf="selectedFile" (click)="removeFile(fileInput)" title="Remove file"> ✕ </button>
      <span class="file-name" *ngIf="!selectedFile">{{ i18n.t('noFile') }}</span>
    </div>
  </div>

  <div class="captcha-section" *ngIf="selectedFile">
    <div class="captcha-image">
      <img *ngIf="captchaImage" [src]="captchaImage" alt="CAPTCHA" />
      <button type="button" class="btn-refresh" (click)="loadCaptcha()" title="New CAPTCHA">↻</button>
    </div>
    <div class="form-group">
      <label>{{ i18n.t('captcha') }} *</label>
      <input
        type="text"
        [(ngModel)]="captchaText"
        [placeholder]="i18n.t('captchaPlaceholder')"
        [class.invalid]="errors['captchaText']"
        autocomplete="off"
      />
      <span class="error" *ngIf="errors['captchaText']">{{ errors['captchaText'][0] }}</span>
    </div>
  </div>

  <div class="form-actions">
    <button
      type="button"
      class="btn-submit"
      (click)="onSubmit()"
      [disabled]="isSubmitting"
    >
      {{ isSubmitting ? i18n.t('sending') : i18n.t('send') }}
    </button>
    <button
      *ngIf="parentCommentId !== null"
      type="button"
      class="btn-cancel"
      (click)="cancelReply.emit()"
    >
      {{ i18n.t('cancel') }}
    </button>
  </div>
</div>