<div class="comment-item">
  <div class="comment-header">
    <span class="username">{{ comment.userName }}</span>
    <span class="email">{{ comment.email }}</span>
    <span class="date">{{ formatDate(comment.createdAt) }}</span>
    <a *ngIf="comment.homePage" [href]="comment.homePage" target="_blank" rel="noopener noreferrer" class="homepage">🌐</a>
  </div>

  <div class="comment-text" [innerHTML]="comment.text"></div>

  <div class="comment-attachment" *ngIf="comment.attachment">
    <div *ngIf="isImage(comment.attachment.contentType)" class="image-preview">
      <img
        [src]="comment.attachment.url"
        [alt]="comment.attachment.fileName"
        (click)="openLightbox(comment.attachment.url)"
        class="thumbnail"
      />
    </div>
    <div *ngIf="!isImage(comment.attachment.contentType)" class="file-link">
      <a [href]="comment.attachment.url" target="_blank" rel="noopener noreferrer">
        📄 {{ comment.attachment.fileName }}
      </a>
    </div>
  </div>

  <div class="comment-actions">
    <button class="btn-reply" (click)="toggleReplyForm()">
      {{ showReplyForm ? i18n.t('cancel') : i18n.t('reply') }}
    </button>

    <button
      *ngIf="comment.replyCount > 0"
      class="btn-show-replies"
      (click)="toggleReplies()"
      [disabled]="isLoadingReplies"
    >
      <span *ngIf="!repliesVisible && !isLoadingReplies">
        💬 {{ i18n.t('showReplies') }} ({{ comment.replyCount }})
      </span>
      <span *ngIf="repliesVisible && !isLoadingReplies">
        {{ i18n.t('hideReplies') }}
      </span>
      <span *ngIf="isLoadingReplies">
        {{ i18n.t('loading') }}
      </span>
    </button>
  </div>

  <app-comment-form
    *ngIf="showReplyForm"
    [parentCommentId]="comment.id"
    (cancelReply)="showReplyForm = false"
    (commentCreated)="onReplyCreated()"
  ></app-comment-form>

   <div class="replies"
    *ngIf="repliesVisible || repliesAnimating"
    [class.replies-enter]="repliesVisible && !repliesAnimating"
    [class.replies-leave]="repliesAnimating">

    <app-comment-item
      *ngFor="let reply of loadedReplies"
      [comment]="reply"
    ></app-comment-item>

    <button
      *ngIf="remainingReplies > 0"
      class="btn-load-more"
      (click)="loadMoreReplies()"
      [disabled]="isLoadingReplies"
    >
      {{ isLoadingReplies ? i18n.t('loading') : i18n.t('loadMore') + ' (' + remainingReplies + ')' }}
    </button>
  </div>
</div>